<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        <div class="card" id="form-perg">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/save">
                    <label> Titulo</label>
                    <input name="titulo" type="text" class="form-control">
                    <label> Descrição</label>
                    <textarea name="descricao" class="form-control"></textarea><br>
                    <button class="btn btn-primary">enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs'); %>